/* @import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}



.tituloInicio {
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: white;
  background-color: rgb(238 38 119);
}

.tituloInicio {
  display: flex;
  justify-content: center;
  align-items: center;

}

.tituloInicio {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  font-family: 'Arvo', serif;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: none;
}

.navbar {
  flex: 1;
  margin-top: 0;
  padding: 0.20rem;
}

.navbar a:hover {
  color: black;
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255);
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.menu li {
  position: relative;
}

.menu li:hover .submenu {
  opacity: 1;
  visibility: visible;
  display: block;
}

.submenu {
  background-color: rgb(255 210 63);
  list-style-type: none;
  padding: 1rem;
  position: absolute;
  top: 100%;
  padding-top: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

h1.principal {
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}

h1.principal {
  display: flex;
  justify-content: center;
}

h3.subprincipal {
  font-family: 'Arvo', serif;
  font-size: 10px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}*/

/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */
/* INDEX HTML */

.quiensoydesc {
  background-color: rgb(238 38 119);
  border-radius: 16px;
  margin: 4rem;
}

.quiensoydesc {
  display: grid;
  grid-template-columns: repeat 50% 50%;
  grid-template-areas:
    "descripcion foto";
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.fotoinicio img {
  display: grid;
  grid-area: foto;
  width: auto;
}

.descripcion p {
  grid-area: descripcion;
  margin: 10px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(255 210 63);
  text-align: center;
}

.unPocoMas {
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}

/* servicios*/


.trabajaconmigo {
  font-family: 'Arvo', serif;
  font-size: 40px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}

.trabajaconmigo {
  display: flex;
  justify-content: center;
}

.trabajaconmigosub {
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}

.trabajaconmigosub {
  display: flex;
  justify-content: center;
}


/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */
/* QUIENSOY */

.quiensoy {
  background-color: rgb(238 38 119);
  padding: 0%;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  margin: 40px;
}

.quiensoy img {
  display: flex;
  margin: 0.5px;
  border-radius: 10px;
  width: 50%;
  height: auto;
}


.descripcionm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "descripcionm"
    "descripcionm";
  justify-items: stretch;
  align-items: stretch;
}


.descripcionm {
  grid-area: descripcionm;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  flex: 1;
  height: 100%;
}


/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */

.cm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 3rem;
}

.cm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "servicios1 servicios2"
    "cm1    wd1";
  justify-items: center;
  align-items: center;
}

.servicios1 {
  grid-area: servicios1;
  display: grid;
  justify-items: center;
  align-items: center;

}

.servicios2 {
  grid-area: servicios2;
  display: grid;
  justify-items: center;
  align-items: center;

}

.cm {
  display: flex;
  font-family: 'Arvo', serif;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119)
}

.wd {
  display: flex;
  font-family: 'Arvo', serif;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119)
}

.cm1 {
  grid-area: cm1;
  display: grid;
  justify-items: center;
  align-items: center;

}

.cm1 {
  display: flex;
  font-family: 'Arvo', serif;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119)
}


.container1 {
  display: grid;
  justify-items: center;
  align-items: center;
}



/* carrusel */
.carousel {
  max-width: 300px;
  margin: 0 auto;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
}


/* CONTACTO */
/* CONTACTO */
/* CONTACTO */
/* CONTACTO */
/* CONTACTO */
/* CONTACTO */
/* CONTACTO */
/* CONTACTO */
/* CONTACTO */

.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.redessociales {
  background-color: rgb(255 210 63);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.bequicm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "emailcontacto "
    "emailcontacto  ";
  justify-items: stretch;
  align-items: stretch;
  background-color: rgb(238 38 119);
}


.emailcontacto {
  background-color: rgb(238 38 119);
  grid-area: emailcontacto;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 3rem;

}

.emailcontacto {
  color: white;
  font-family: 'Arvo', serif;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  text-align: center;

}


.form {
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Arvo', serif;
  font-size: 18px;
}





/* TEXTOS */
/* TEXTOS */
/* TEXTOS */
/* TEXTOS */
/* TEXTOS */
/* TEXTOS */
/* TEXTOS */

h1.contacto {
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}

h1.contacto {
  display: flex;
  justify-content: center;
}

h3.contacto {
  font-family: 'Arvo', serif;
  font-size: 10px;
  font-weight: normal;
  font-style: none;
  text-align: center;
  color: rgb(238 38 119);
}

/*SERVICIOS 1*/
/*SERVICIOS 1*/
/*SERVICIOS 1*/
/*SERVICIOS 1*/
/*SERVICIOS 1*/
/*SERVICIOS 1*/



/*BOX3*/
.box3 {
  background-color: rgb(0 206 203);
  padding: 0.5%;
}


.servicios .box3 {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.servicios .box3 {
  width: 500px;
  height: 500px;
  border-radius: 2rem;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.servicios .box3:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.servicios .box3 img {
  width: 450px;
  height: 450px;
  border-radius: 1rem;
}

.servicios {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  color: black;
  font-style: none;
  text-align: center;
  font-weight: bold;
  font-style: none;
}

.desc {
  font-family: 'Arvo', serif;
  font-size: 1rem;
  color: black;
  font-style: none;
  text-align: center;
  font-weight: bold;
  font-style: none;
}

.listado {
  display: flex;
  justify-content: center;
}

.accordion-body {
  font-family: 'Arvo', serif;
  font-size: 1rem;
  color: black;
  font-style: none;
  text-align: center;
  font-weight: bold;
  font-style: none;
}


/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */
/* PIE DE PAGINA */

