 .bequicmwd {
   @extend %textoprincipal
 }

 .inicio {
   background-color: rgb(238 38 119);
   border-radius: 16px;
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   padding: 1rem;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 1fr 3fr;
   grid-template-areas:
     "texto1 foto"
     "texto2 foto";

   .textoinicio1 {
     padding: 1rem;
     font-family: 'Arvo', serif;
     font-size: 20px;
     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $coloramarillo;
     display: flex;
     grid-area: texto1;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .textoinicio2 {
     padding: 1rem;
     font-family: 'Arvo', serif;
     font-size: 20px;
     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $coloramarillo;
     display: flex;
     grid-area: texto2;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .fotobequi {
     display: flex;
     grid-area: foto;
     padding: 0.5rem;
     justify-content: center;
     text-align: center;
     align-items: center;
   }
 }




 .unPocoMas {
   font-family: 'Arvo', serif;
   font-size: 20px;
   font-weight: normal;
   font-style: none;
   text-align: center;
   color: $colorrosa;
 }

 .encabezadoport {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 120px 110px;
   grid-template-areas:
     "dedondefoto dedondequeestfoto dedondecmfoto dedondewdfoto hobbiesfoto"
     "dedondetexto dedondequeesttex dedondecmtexto dedondewdtexto hobbiestexto"
     "dedondedesc dedondequeestdesc dedondecmtexto2 dedondewdtexto2  hobbiestexto2";
   justify-content: center;
   color: $colorrosa;
   text-decoration: none;
   font-family: 'Arvo', serif;
   font-weight: normal;
   font-style: none;
   text-align: center;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 20px;
   padding: 1rem;

   .dedondefoto {
     display: flex;
     grid-area: dedondefoto;
      justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondetexto {
     display: flex;
     grid-area: dedondetexto;
     font-family: 'Arvo', serif;
     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondedesc {
     display: flex;
     grid-area: dedondedesc;
     font-family: 'Arvo', serif;
     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }


   .dedondequeestfoto {
     display: flex;
     grid-area: dedondequeestfoto;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondequeesttex {
     display: flex;
     grid-area: dedondequeesttex;
     font-family: 'Arvo', serif;
     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondequeestdesc {
     display: flex;
     grid-area: dedondequeestdesc;
     font-family: 'Arvo', serif;
     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }


   .dedondecmfoto {
     display: flex;
     grid-area: dedondecmfoto;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondecmtexto {
     display: flex;
     grid-area: dedondecmtexto;
     font-family: 'Arvo', serif;

     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondecmtexto2 {
     display: flex;
     grid-area: dedondecmtexto2;
     font-family: 'Arvo', serif;

     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }


   .dedondewdfoto {
     display: flex;
     grid-area: dedondewdfoto;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondewdtexto {
     display: flex;
     grid-area: dedondewdtexto;
     font-family: 'Arvo', serif;

     font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .dedondewdtexto2 {
     display: flex;
     grid-area: dedondewdtexto2;
     font-family: 'Arvo', serif;
       font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .hobbiesfoto {
     display: flex;
     grid-area: hobbiesfoto;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .hobbiestexto {
     display: flex;
     grid-area: hobbiestexto;
     font-family: 'Arvo', serif;
      font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   .hobbiestexto2 {
     display: flex;
     grid-area: hobbiestexto2;
     font-family: 'Arvo', serif;
       font-weight: normal;
     font-style: none;
     text-align: center;
     color: $colorrosa;
     justify-content: center;
     text-align: center;
     align-items: center;
   }


 }


 @media (max-width: 1024px) {

   .inicio {
     width: 900px;
   }

   .encabezadoport {
     width: 900px;
     margin-left: auto;
     margin-right: auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 180px 180px;
   }
 }

 
 @media (max-width: 900px) {

  .inicio {
    width: 800px;
  }

  .encabezadoport {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 20px 60px;
    font-size: 10px;
    padding: 0.2rem;
 gap: 0.2rem;
  }
}

@media (max-width: 815px) {

  .inicio {
    width: 700px;
  }
  .encabezadoport {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 20px 60px;
    font-size: 10px;
    padding: 0.2rem;
 gap: 0.2rem;
  }
}

@media (max-width: 768px) {

  .inicio {
    width: 600px;
    display: flex;
    flex-direction: column;
  }
  .encabezadoport {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .dedondetexto{ 
      font-size: 18px;
    } .dedondequeesttex{ 
      font-size: 18px;
    } .dedondecmtexto{ 
      font-size: 18px;
    } .dedondewdtexto{ 
      font-size: 18px;
    } .hobbiestexto { 
      font-size: 18px;
    }
  .dedondedesc{ 
    font-size: 18px;
  } .dedondequeestdesc{ 
    font-size: 18px;
  } .dedondecmtexto2{ 
    font-size: 18px;
  } .dedondewdtexto2{ 
    font-size: 18px;
  } .hobbiestexto2 { 
    font-size: 18px;
  }
  }
}

@media (max-width: 600px) {

  .inicio {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .encabezadoport {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .dedondetexto{ 
      font-size: 18px;
    } .dedondequeesttex{ 
      font-size: 18px;
    } .dedondecmtexto{ 
      font-size: 18px;
    } .dedondewdtexto{ 
      font-size: 18px;
    } .hobbiestexto { 
      font-size: 18px;
    }
  .dedondedesc{ 
    font-size: 18px;
  } .dedondequeestdesc{ 
    font-size: 18px;
  } .dedondecmtexto2{ 
    font-size: 18px;
  } .dedondewdtexto2{ 
    font-size: 18px;
  } .hobbiestexto2 { 
    font-size: 18px;
  }
  img {
    width: 50%;
    height: 50%;
  }
  }
}

@media (max-width: 513px) {

  .inicio {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .encabezadoport {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .dedondetexto{ 
      font-size: 18px;
    } .dedondequeesttex{ 
      font-size: 18px;
    } .dedondecmtexto{ 
      font-size: 18px;
    } .dedondewdtexto{ 
      font-size: 18px;
    } .hobbiestexto { 
      font-size: 18px;
    }
  .dedondedesc{ 
    font-size: 18px;
  } .dedondequeestdesc{ 
    font-size: 18px;
  } .dedondecmtexto2{ 
    font-size: 18px;
  } .dedondewdtexto2{ 
    font-size: 18px;
  } .hobbiestexto2 { 
    font-size: 18px;
  }
  img {
    width: 50%;
    height: 50%;
  }
  }
}