.delegaredes {
  @extend %delegaredes
}

.servicios3 {
  padding: 0;
  font-family: 'Arvo', serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .box5 {
    background-color: $colorturquesa;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 350px;
    height: 600px;
    border-radius: 16px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

    img {
      display: flex;
      width: 250px;
      height: 550px;
      border-radius: 10px;
    }

  }

  .servicionombre1 {
    font-family: 'Arvo', serif;
    font-size: 2rem;
    color: $colorrosa;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
  }

  .descripcionservicio {
    font-family: 'Arvo', serif;
    font-size: 1rem;
    color: black;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
  }

  .listado {
    display: flex;
    justify-content: center;
  }
}

.botonpago {
  font-family: 'Arvo', serif;
  font-size: 3rem;
  display: flex;
  padding: 1rem;
  justify-content: center;

}

@media (max-width: 522px) {
  .servicios3 .listado {
    width: auto;
  }

  .listado {
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .servicionombre1 {
    font-family: 'Arvo', serif;
    font-size: 1rem;

  }

  .descripcionservicio1 {
    font-family: 'Arvo', serif;
    font-size: 0.5rem;

  }
}

@media (max-width: 480px) {
  .servicios2 .listado {
    width: auto;
  }
}

@media (max-width: 320px) {
  .servicios3 .listado {
    width: 300px;

  }

  .servicios3 {
    padding: 0;
    line-height: 1.6;
    margin: 0 auto;
    display: block;
    
  }

}