.box3 {
    background-color: rgb(0 206 203);
    padding: 0.5%;
  }
  
  
  .servicios .box3 {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .servicios .box3 {
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }
  
  .servicios .box3:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  
  .servicios .box3 img {
    width: 250px;
    height: 250px;
    border-radius: 1rem;
  }
  
  .servicios {
    font-family: 'Arvo', serif;
    font-size: 2rem;
    color: black;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
  }
  
  .desc {
    font-family: 'Arvo', serif;
    font-size: 1rem;
    color: black;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
  }
  
  .listado {
    display: flex;
    justify-content: center;
  }
  
  .accordion-body {
    font-family: 'Arvo', serif;
    font-size: 1rem;
    color: black;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
  }
  

  

  .servicios {
    padding: 0;
    font-family: 'Arvo', serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .box5 {
      display: flex;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 400px;
      height: 450px;
      border-radius: 16px;
      box-shadow: 0 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s;
    
      &:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      }
      img {
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 10px;
      }
      p {
        padding: 0.1rem;
        font-size: 16px;
        font-weight: 300;
    }
    h3 {
      font-weight: 600;}
      a {
        font-weight: 500;
        text-decoration: none;
        color: white;
      }
  }
  }
  
  .box5 {
    background-color: $colorrosa;
    padding: 0%;
    font-family: 'Arvo', serif;
    font-size: 30px;
    color: $colorrosa;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-style: none;
    text-align: center;
    font-weight: bold;
    font-style: none;
  }