  
  .form {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Arvo', serif;
    font-size: 18px;
  }

    

  @media (max-width: 900px) {
    .form  {
       font-size: 10px;
      }
  }
  
  
  @media (max-width: 768px) {
    .form  {
      font-size: 10px;
      }
  }
  
  @media (max-width: 600px) {
  
    .form  {
      font-size: 10px;
      }
  }
  
  
  @media (max-width: 513px) {
    .form  {
      font-size: 10px;
      }
  }