  .ingresar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arvo', serif;
    font-size: 18px;
  }



  @media (max-width: 900px) {
    .form {
      font-size: 10px;
    }
  }


  @media (max-width: 768px) {
    .ingresar {
      font-size: 10px;
    }
  }

  @media (max-width: 600px) {

    .ingresar {
      font-size: 10px;
    }
  }


  @media (max-width: 513px) {
    .ingresar {
      font-size: 10px;
    }
  }