  
  .form {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Arvo', serif;
    font-size: 18px;
  }
  h1.contacto {
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: none;
    text-align: center;
    color: rgb(238 38 119);
  }
  
  h1.contacto {
    display: flex;
    justify-content: center;
  }
  
  h3.contacto {
    font-family: 'Arvo', serif;
    font-size: 10px;
    font-weight: normal;
    font-style: none;
    text-align: center;
    color: rgb(238 38 119);
  }
    