/** CARRITO DE COMPRA **/

.contenedor-servicio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

.carrito-vacio,
.carrito-comprado {
    color: $colorrosa;
    font-size: 1rem;
}}


/* Contenedor general de los servicios del carrito */


.carrito-servicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $coloramarillo;
    color: $colorrosa;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;


.carrito-servicio-imagen {
    display: flex;
    width: 4rem;
    border-radius: 1rem;
}

.carrito-servicio small {
    font-size: .75rem;
}

.carrito-servicio-eliminar {
    border: 0;
    background-color: transparent;
    color: $colorrosa;
    cursor: pointer;
}
}

/* CARRRITO ACCIONES */


.carrito-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .carrito-acciones-izquierda {
        display: flex;
        align-items: center;

        .carrito-acciones-vaciar {
            border: 0;
            background-color: $colorrosa;
            padding: 1rem;
            border-radius: 1rem;
            color: $coloramarillo;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .carrito-acciones-derecha {
        display: flex;
        

        .carrito-acciones-total {
            display: flex;
            justify-content: center;
            background-color: $colorrosa;
            padding: 1rem;
            color: $coloramarillo;
            text-transform: uppercase;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            gap: 1rem;
        }

        .carrito-acciones-comprar {
            border: 0;
            background-color: $colorrosa;
            padding: 1rem;
            color: $coloramarillo;
            text-transform: uppercase;
            cursor: pointer;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    .header-mobile {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .disabled {
        display: none;
    }
}