/*LOGOWATS*/
div.whatsappicon {
  @extend %whatsappicon
}


.piepagina {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.8fr 0.1fr;
  grid-template-areas: "logoinferior" "redeswebsicon" "CopyRigth";
  justify-content: center;
  text-align: center;
  align-items: center;
}



/*REDES SOCIALES PIE PAGINA*/
.logoinferior {
  display: grid;
  grid-area: logoinferior;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  img {
    height: 100px;
    width: auto;
    margin-top: 50px;

    &:hover {
      transform: scale(1.2);
    }
  }
}


/*REDES SOCIALES PIE PAGINA*/

.redeswebsicon {
  display: grid;
  grid-area: redeswebsicon;
  margin: 0;
  padding: 0;
  background: none;
  justify-content: center;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    li {
      list-style: none;
      margin: 0 15px;

      a {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 63px;
        background: none;
        border-radius: 50%;
        font-size: 30px;
        color: $colorrosa;
        transition: .5s;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: none;
          transition: .5s;
          transform: scale(.9);
          z-index: -1;
        }

        &:hover::before {
          transform: scale(1.1);
          box-shadow: 0 0 15px $coloramarillo;
        }

        &:hover {
          color: $coloramarillo;
          box-shadow: 0 0 5px $coloramarillo;
          text-shadow: 0 0 5px $coloramarillo;
        }
      }
    }
  }
}


/*derechos reservados*/
p.CopyRigth {
  display: grid;
  grid-area: CopyRigth;
  font-family: 'Arvo', serif;
  font-size: 10px;
  font-weight: normal;
  font-style: oblique;
  text-align: center;
  color: black;
}

@media (max-width: 1024px) {
  .piepagina {
    width: 900px;
  }
  .logoinferior {
    width: 900px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 900px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 900px;
    }
}

@media (max-width: 900px) {
  .piepagina {
    width: 800px;
  }
  .logoinferior {
    width: 800px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 800px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 800px;
    }
}


@media (max-width: 815px) {
  .piepagina {
    width: 700px;
  }
  .logoinferior {
    width: 700px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 700px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 700px;
    }
}

@media (max-width: 768px) {
  .piepagina {
    width: 600px;
  }
  .logoinferior {
    width: 600px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 600px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 600px;
    }
}

@media (max-width: 600px) {
  .piepagina {
    width: 500px;
  }
  .logoinferior {
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 500px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 500px;
    }
}



@media (max-width: 513px) {

  .piepagina {
    width: 400px;
  }
  .logoinferior {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 400px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 400px;
    }
}


@media (max-width: 480px) {

  .piepagina {
    width: 400px;
  }
  .logoinferior {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .redeswebsicon ul {
    width: 400px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 400px;
    }
}

@media (max-width: 320px) {

  .piepagina {
    width: 300px;
  }
  .logoinferior {
    width: 300px;
    display: flex;
    justify-content: center;
    img {
      width: 30%;
      height: auto;
    }
  }
  .redeswebsicon ul {
    width: 300px;
justify-content: center;
align-items: center;
  }
  .CopyRigth {
    width: 300px;
    }
}