.delegaredes {
  @extend %delegaredes
}


.inicio {
  background-color: rgb(238 38 119);
  border-radius: 16px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "texto1 foto"
    "texto2 foto";

  .textoinicio1 {
    padding: 1rem;
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: none;
    text-align: center;
    color: $coloramarillo;
    display: flex;
    grid-area: texto1;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .textoinicio2 {
    padding: 1rem;
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: none;
    text-align: center;
    color: $coloramarillo;
    display: flex;
    grid-area: texto2;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .fotobequi {
    display: flex;
    grid-area: foto;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}




.qservicio {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.01fr 1fr 0.01fr;
  grid-template-areas:
    "logoce logoaud logoases logopc logowd"
    "textoce textoaud textoases textopc textowd"
    "texto2ce texto2aud texto2ases texto2pc texto2wd"
    "botonce botonaud botonases botonpc botonwd";
  color: $colorrosa;
  font-family: 'Arvo', serif;
  font-weight: normal;
  font-style: none;
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  

  .logoce {
    grid-area: logoce;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
  }

  .textoce {
    display: flex;
    padding: 0.2rem;
    grid-area: textoce;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
     }

  .texto2ce {
    display: flex;
    padding: 0.2rem;
    grid-area: texto2ce;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
   
  }

  .botonce {
    display: flex;
    grid-area: botonce;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
   }

  .logoaud {
    display: flex;
    grid-area: logoaud;
    justify-content: center;
    text-align: center;
    align-items: center;
     }

  .textoaud {
    grid-area: textoaud;
    padding: 0.2rem;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .texto2aud {
    padding: 0.2rem;
    display: flex;
    grid-area: texto2aud;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
     }

  .botonaud {
    display: flex;
    grid-area: botonaud;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .logoases {
    display: flex;
    grid-area: logoases;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

  .textoases {
    grid-area: textoases;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .texto2ases {
    display: flex;
    padding: 0.2rem;
    grid-area: texto2ases;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .botonases {
    display: flex;
    grid-area: botonases;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .logopc {
    display: flex;
    grid-area: logopc;
    justify-content: center;
    text-align: center;
    align-items: center;
 }

  .textopc {
    grid-area: textopc;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .texto2pc {
    display: flex;
    padding: 0.2rem;
    grid-area: texto2pc;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .botonpc {
    display: flex;
    grid-area: botonpc;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .logowd {
    display: flex;
    grid-area: logowd;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .textowd {
    grid-area: textowd;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .texto2wd {
    display: flex;
    padding: 0.2rem;
    grid-area: texto2wd;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .botonwd {
    display: flex;
    grid-area: botonwd;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    }
}




@media (max-width: 1024px) {

  .inicio {
    width: 900px;
  }
  .qservicio {
    width: 900px;
}
}



@media (max-width: 900px) {

  .inicio {
    width: 800px;
  }
  .qservicio {
    width: 800px;
}
}

@media (max-width: 815px) {

  .inicio {
    width: 700px;
  }
  .qservicio {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    img {
      width: 50%;
      height: 50%;
    }
    
}
}

@media (max-width: 768px) {

  .inicio {
    width: 600px;
    display: flex;
    flex-direction: column;
  }
  .qservicio {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    img {
      width: 50%;
      height: 50%;
    }
    
}
}

@media (max-width: 600px) {

  .inicio {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .qservicio {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    img {
      width: 50%;
      height: 50%;
    }
    
}
}

@media (max-width: 513px) {

  .inicio {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .qservicio {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    img {
      width: 50%;
      height: 50%;
    }
    
}
}