@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
$colorrosa: rgb(238 38 119);
$coloramarillo: rgb(255 210 63);
$colorturquesa: rgb(0 206 203);

%textoprincipal {
  font-family: 'Arvo', serif;
  color: $colorrosa;
  justify-content: center;
  display: flex;

  h1.principal {
    font-size: 20px;
    font-weight: normal;
    font-style: none;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
  }

  h3.subprincipal {
    display: flex;
    font-size: 10px;
    font-weight: normal;
    font-style: none;
    text-align: center;
    justify-content: center;
  }
}
%whatsappicon {
  position: fixed;
  bottom: 200px;
  right: 0;
  z-index: 2;

  img {
    height: 12rem;
    width: auto;

    &:hover {
      transform: scale(1.2);
    }
  }
}